body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3093e5+0,9dc6e8+53,539fe1+100 */
    background: #3093e5; /* Old browsers */
    background: -moz-linear-gradient(top,  #3093e5 0%, #9dc6e8 53%, #539fe1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3093e5 0%,#9dc6e8 53%,#539fe1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3093e5 0%,#9dc6e8 53%,#539fe1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3093e5', endColorstr='#539fe1',GradientType=0 ); /* IE6-9 */
    
}

#background{
    position: absolute;
    background-color:grey;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:.5;
    z-index:1;
    width:90%;
    margin-left:5%;
    
}

#container {
    position: relative;
    overflow:auto;
}

#content {
    position: relative;
    font-family: 'Lato', sans-serif;
    text-align:center;
    z-index:2;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:5%;
    color:black;
}


a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: white;
}

a:active {
    color: black;
}

.link{
    padding-left:3%;
    padding-right:3%;
    text-transform:uppercase;
}

img{
    position: relative;
    height:40%;
    width:auto;
    display:block;
    margin:auto;
}

h1{
    font-size:250%;
}
p{
    font-size:150%;
}

