body{
background-color: lightblue;
text-align: center;
}

h1{
color:red;
font-family: "Arial", sans-serif;
font-size:50px;
}

h2{
color:red;
font-family: "Arial", sans-serif;
font-size:35px;
}

#beach{
height: 200px;
width:auto;
}

#pork{
height: 200px;
width:auto;
}

#trebek{
height: 200px;
width:auto;
}

.images{
margin-left:40px;
margin-right:40px;
}

audio{
float: left;
position:relative;
top:100px;
}
#div{
display:block;
width:600px;
}